PORT=8080
API_PASSWORD="development"

# get these from: pnpm exec web-push generate-vapid-keys
VAPID_PUBLIC_KEY="publicKey"
VAPID_PRIVATE_KEY="privateKey"

# Get this from url when you are in the folder where you want to upload into
# e.g. https://drive.google.com/drive/folders/1gwgz_DDWSTZd7uc3ZEkIsHQLKfgZd8WD -> "1gwgz_DDWSTZd7uc3ZEkIsHQLKfgZd8WD"
# Also, make sure the folder is shared with the service account email
GDRIVE_FOLDER_ID="xxx"
